@font-face {
   font-family: 'Lato-Black';
   src: url('Lato-Black/font.ttf');
}
@font-face {
   font-family: 'Lato-Light';
   src: url('Lato-Light/font.ttf');
}
@font-face {
   font-family: 'Lato-Regular';
   src: url('Lato-Regular/font.ttf');
}
